version: '3'
services:
  deadlight-local:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - ./content.sqlite:/app/content.sqlite
      - ../src:/app/src
      - ../package.json:/app/package.json
      - ../../lib.deadlight:/lib.deadlight
    command: sh -c "npm install && npm start"
    environment:
      - DATABASE_URL=file:/app/content.sqlite
      - NODE_ENV=production
    ports:
      - "8080:8080"
